[submodule "3rdparty/Args"]
	path = 3rdparty/Args
	url = https://github.com/igormironchik/args-parser.git
[submodule "3rdparty/cfgfile"]
	path = 3rdparty/cfgfile
	url = https://github.com/igormironchik/cfgfile.git
